<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Définir un Nouveau Mot de Passe</title>
    <link rel="stylesheet" href="../../static/new_password_admin.css">
</head>
<body>
    <header>
        <h1>Définir un Nouveau Mot de Passe Administrateur</h1>
    </header>

    <form action="/set-admin-password" method="POST">
        <label for="password">Nouveau mot de passe :</label>
        <input type="password" id="password" name="password" required placeholder="Entrez un nouveau mot de passe" minlength="13">

        <label for="confirm_password">Confirmer le mot de passe :</label>
        <input type="password" id="confirm_password" name="confirm_password" required placeholder="Confirmez votre mot de passe" minlength="13">

        <button type="submit">Définir le mot de passe</button>
    </form>

    <a href="/login">Retour à la connexion</a>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
