<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>Bienvenue sur notre plateforme de vote</h1>
        <div class="header-buttons">
            <a href="/login" class="btn">Se connecter</a>
            <a href="/register" class="btn">S'inscrire</a>
        </div>
    </header>

    <main>
        <div class="card-container">
            <!-- Card 1: Histoire du pain au chocolat -->
            <div class="card">
                <h3>Le Pain au Chocolat</h3>
                <p>Le pain au chocolat, est une viennoiserie constituée d'une pâte levée feuilletée, identique à celle du croissant, rectangulaire et enroulée sur une ou plusieurs barres de chocolat.</p>
            </div>

            <!-- Card 2: Histoire de la Chocolatine -->
            <div class="card">
                <h3>La Chocolatine</h3>
                <p>Qui?</p>
            </div>
        </div>
    </main>
</body>
</html>
